@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Oswald:wght@400;700&display=swap");

body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
  margin-top: 10px;
}

.info-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0px;
}

.info {
  color: #dbedf3;
  font-family: "Lobster", sans-serif;
  width: 78%;
  height: 10%;
  font-size: 20px;
  /* border: 4px solid red; */
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 80px auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 160px;
  height: 160px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

@media screen and(max-width: 600px) {
  .info {
    font-size: 20px;
  }
}
